/* GLOBALS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* GLOBALS FINISH */

/* ADMIN ROLES PAGE */
.admin-roles-container {
  max-width: 1140px;
  margin: 0 auto;
}

.admin-roles-header-row {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.admin-roles-header-row .logo {
  height: 30px;
}

.admin-roles-header-row .admin-logout-link {
  color: #d30000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
}

.admin-roles-header-row .admin-logout-link:hover {
  color: #a30000;
}

.admin-search-bar {
  position: relative;
}

.admin-search-bar input {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #0d0d0d;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #00a9ff;
  border-radius: 100px;
  box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.3),
    inset 5px 5px 20px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.admin-search-bar input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00a9ff;
}

.admin-search-bar input:focus {
  outline: none;
}

.admin-search-bar .search-user-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.admin-search-bar .search-user-btn img {
  width: 24px;
}

.users-container .user-row {
  margin-top: 30px;
  background-color: #262626;
  padding: 20px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-container .user-row .user-info {
  display: flex;
  align-items: center;
}

.users-container .user-row .user-info .user-picture {
  width: 60px;
  margin-right: 20px;
}

.users-container .user-row .user-info .user-name {
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
}

.users-container .user-row .user-info .user-role {
  color: #00a9ff;
  font-size: 16px;
  font-weight: 400;
}

.users-container .user-row .user-role-select {
  width: 205px;
  height: 46px;
  background-color: #1a1a1a;
  border: 1px solid #00a9ff;
  color: #00a9ff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}

.save-changes-btn {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #00a9ff;
  color: #1a1a1a;
  border: 1px solid #00a9ff;
  border-radius: 100px;
  margin-bottom: 1%;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.save-changes-btn:hover {
  background-color: transparent;
  color: #00a9ff;
}

.admin-main-menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.admin-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.admin-main-menu ul li {
  margin-right: 40px;
}

.admin-main-menu ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
}

.admin-main-menu ul li a:hover {
  color: #90daff;
}

.admin-main-menu ul li .active {
  color: #00a9ff;
}

.admin-main-menu ul li .active:hover {
  color: #00a9ff !important;
}

/* ADMIN ROLES PAGE FINISH */

/* RESPONSIVE ADMIN ROLES PAGE */
@media (max-width: 1200px) {
  .admin-roles-container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .admin-roles-container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .admin-roles-container {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .admin-main-menu ul {
    display: block;
    text-align: center;
  }

  .admin-main-menu ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .admin-main-menu ul li:last-child {
    margin-bottom: 0;
  }

  .admin-main-menu ul li a {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .users-container .user-row {
    flex-wrap: wrap;
  }

  .users-container .user-row .user-info {
    margin-bottom: 20px;
  }

  .users-container .user-row .user-role-select {
    display: block;
    width: 100%;
  }

  .admin-main-menu ul {
    flex-wrap: wrap;
  }

  .admin-main-menu ul li {
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .users-container .user-row .user-info .user-name {
    font-size: 16px;
  }

  .users-container .user-row .user-info .user-role {
    font-size: 14px;
  }
}

/* RESPONSIVE ADMIN ROLES PAGE FINISH */